<div style="margin-right: 150pt;margin-left: 150pt;padding-top: 50pt;">
    <div style="width: 100%;box-shadow: 0px 0px 30px gainsboro;background: linear-gradient(to bottom left, blue,black);
    border-radius: 10pt;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;">
        <div style="width: 50%;height: 70vh;
    background: linear-gradient(to bottom right, red,blue);transform: scale(1.1);
    border-radius: 10pt;display: flex;align-items: center;flex-direction: column;justify-content: center;">
            <div style="font-weight: bold;color: white;font-size: 4vh;margin-bottom: 3vh;">
                Lets Login!
            </div>
            <input #usernameField type="text" class="inputField" placeholder="Username">
            <input #passwordField type="password" class="inputField" placeholder="Password">
            <!-- <div style="display: flex;flex-direction: row;width: 70%;margin-top: 10pt;"> -->
            <button (click)="login(usernameField, passwordField)" class="submitBtn">
                Login
            </button>
            <button class="submitBtn2" routerLink="/signup">
                Signup
            </button>
            <!-- </div> -->
        </div>
    </div>
</div>
<!-- <input type="text" placeholder="Username">
<input type="text" placeholder="Email">
<input type="text" placeholder="Phone"> -->